<!DOCTYPE html>
<html>
<head>
    <title>Link Router - In Code We Speak</title>
    <link rel="stylesheet" type="text/css" href="static/css/index.css"/>
</head>
<h1>Link Router</h1><br>

<P>Password Complexity Requirements:<br>- Minimum of 8 characters<br>- At least 1 letter<br>- At least 1 number<br></P>



<form action="/" method="post" id="password-form">
    <label for='password'><b>New Password: </b></label><br>
    <input type="password" name="password" id="password" ><br><br>
    <label for='confirmPassword'><b>Confirm Password: </b></label><br>
    <input type="password" name="confirmPassword" id="confirmPassword" ><br><br>
    <input type='submit' onclick="resetPassword()" value='Submit'>
</form>


<script>
function resetPassword(){
    event.preventDefault();
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function(){
        if (xhr.readyState == XMLHttpRequest.DONE){
            if (xhr.status == 200){
                location.replace('/')
            }
            else {
                var response = JSON.parse(xhr.responseText);
                alert("Error: " + response['message']);
            }
        }
    }
    const form = document.querySelector('#password-form')
    var passwordRegex = /^^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$$/
    if(form.elements['password'].value != form.elements['confirmPassword'].value)
    {
        alert("Passwords do not match!");
        return;
    }
    else if (passwordRegex.test(form.elements['password'].value) == false)
    {
        alert("Password does not meet the minimum complexity requirements.");
        return;
    }


    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    var formData = new FormData(form)
    key = urlParams.get('key');
    xhr.open('POST', '/anon/password_reset_update?key=' + key)
    xhr.send(formData)
} 
</script>

</html>